.hizmetler{
width: 100%;
height: 50%;
border: solid;
border-width: 1px;
border-color: gray;
display: block;
background-color: black;
margin-top: -5px;

}

.hizmetler h1{
	color: #8e8e93;
	padding: 10px 25px;
}

.hizmet1{
	height: 100%;
	width: 24.85%;
	border: solid;
	border-width: 1px;
  float: left;
  border-color: #8e8e93;

}
.hizmet1 img{
height: 50%;
width: 100%;
float: left;
}
.text p{
	color: #8e8e93;
	height: 100%;
	background-color: black;
	font-size: 18px;
}
.yazi a{

	color: #8e8e93;
}
h2{
	color: #8e8e93;
}
body{
	background-color: black;
}
