body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #dbdbdb;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
   
    text-decoration: none;
}

section {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    height: auto;
   
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.contact-section {
    background-color:rgb(118, 113, 113) ;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-section h2 {
    text-align: center;
    color: #333;
}

.contact-info {
    font-size: 18px;
    color: #555;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
